@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--The preceding code:
    Creates text boxes for name and message text, and a submit button.
    Creates a list with id="messagesList" for displaying messages that are received from the SignalR hub.
    Includes script references to SignalR and the chat.js application code that you create in the next step.
    -->
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="josefinegmpaaske" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://dk.linkedin.com/in/josefinegmpaaske/en?trk=profile-badge">Josefine Paaske</a></div>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
